@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap');
/*
font-family: 'Cabin', sans-serif;
font-family: 'Lobster', cursive;
*/
*{
    font-family: 'Cabin';
}
body{
    color: #373A3C;

}
.ricomida{
    font-family: 'Lobster';
}
.w-24{
    width: 24%;
}
hr{
    opacity: 1 !important;
}
img:hover{
    filter: saturate(2);
}
